/*
	Comment
*/

a { /* Comment */ color: /* Comment */ Red; }

.TestClass {
	color: Black;
	background-color: White;
	text-align: left;
}

.name{
	color:black;
	
}
.navbar{
background-color:green !important;
}

.img-fluid{
	height:550px;
	display:block;
	margin-left: auto;
margin-right: auto;
width: 50%;
}